bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.TessaractUI/.idea/.gitignore
/.idea/.idea.TessaractUI/.idea/encodings.xml
/.idea/.idea.TessaractUI/.idea/indexLayout.xml
/.idea/.idea.TessaractUI/.idea/misc.xml
/.idea/.idea.TessaractUI/.idea/vcs.xml
